body {
    font-family: "poppins", sans-serif;
    text-align: center;
    background-color: whitesmoke;
}

h1 {
    color: rgb(76, 7, 7);
}

.box {
    width: 300px;
    padding: 20px;
    border: 3px dashed blue;
    margin: 20px auto;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}